.fluid {
  height: 637px;
  background-color: #f0f0f0;
  z-index: -1;
  position: relative;
}
.yel-dev {
  top: 0px;
  right: 114px;
  height: 637px;
  width: 436px;
  background-color: #ebc010;
  z-index: 1;
  position: absolute;
  border-radius: 0px 0px 66px 0px;
}
.pic {
  height: 637px;
  width: 500px;
  position: absolute;
  z-index: 2;
  background-image: url ("/img/header-photo.png");
  background-size: cover;
}
.display-3 {
  font-size: 40 px;
  margin-left: 110px;
  margin-top: 160px;
}
.lead {
  margin-top: 25px;
  width: 700px;
  font-size: 23px;
  margin-left: 110px;
}
